* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "PT Sans", sans-serif;
}

.html{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

html{
  scroll-behavior: smoth;
}

.container{
  padding: 0 6vw 0 6vw;
}



nav ul,
.main-info-section{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

body{
  background-color: #161515;
}

header{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: .8vh 0;
}

.navbar{
  background-color: #1f1e1e;
  position: fixed;
  z-index: 100;

}

.static{
  position: relative;
  width: 90vw;
}




.about h1,
.skills h1,
.work h1,
.contacts h1{
  color: #aaaaaa;
}

header h1,
header a,
.text p{
  color: #707070;
}

li{
  list-style: none;
  margin-left: 3vw;
  font-size: 1vw;
}

a{
  text-decoration: none;
  font-size: 1vw;
  text-transform: uppercase;
  position: relative;
  top: 50%;
  bottom: 50%;
  transform: translateY(-50%);
}


.main-info-section{
  padding-top: 15%;
  padding-bottom: 5%;
}


.text h1{
  color: #d9d9d9;
  font-size: 3vw;
}

.text span{
  display: inline-block;
}


span.name{
  color: #9C0402;
}


span.m-left{
  margin-left: -0.1vw;
}


.word:hover{
  color:#9C0402;
  transition: 1s linear;
}

.text h1{
  cursor: default;
}

.text p{
  letter-spacing: 0.2vw;
  word-spacing: 1vw;
  font-size: 1vw;
}

.text a{
  padding: .7vw 1.5vw;
  background-color: none;
  border: .2vw solid #9C0402;
  color: #9C0402;
  font-size: .8vw;
  letter-spacing: .2vw;
  position: relative;
  top: 6vw;
  overflow: hidden;
  transition: .5s;
  display: inline-block;
}

.text a:hover{
  color: #d9d9d9;
}

.text a::before{
  content: "";
  background-color: #9C0402;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 0%;
  z-index: -1;
  transition: .5s;
}



.text a:hover::before{
  height: 100%;
}

.profile-image img{
  width: 100%;
  transform: translate(7vw, -14vw);
  -webkit-filter: grayscale(25%);
  filter: grayscale(25%);
}



.about h1,
.work h1 {
  text-align: left;
  font-size: 8vw;
  z-index: 0;
  opacity: .3;
}

.skills h1{
  text-align: right;
  font-size: 8vw;
  opacity: .3;
}

.contacts h1{
  text-align: center;
  font-size: 8vw;
  opacity: .3;
}

.about-me-info{
  max-width: 80%;
  color: #aaaaaa;
  background-color: #9C0402;
  opacity: 0.6;
  box-shadow: 0 0 1vw #707070;
  padding: 2.5vw;
  position: relative;
  top: -4vw;
  left: 50%;
  right: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.skills-list{
  font-size: 1.2vw;
  color: #aaaaaa;
  font-weight: bold;
  max-width: 80%;
  background-color: #9C0402;
  opacity: 0.6;
  box-shadow: 0 0 1vw #707070;
  padding: 2.5vw;
  position: relative;
  top: -4vw;
  left: 50%;
  right: 50%;
  transform: translateX(-50%);
  z-index: 1;
  overflow: hidden;
}

.about-me-info p{
  font-size: 1vw;
  color: #BEBEBE;
}

.about-me-info p:nth-child(2),
.about-me-info p:last-child{
  margin-top: 1.5vw;
  margin-bottom: 1.5vw;
}





.work a{
  justify-self: center;
  position: relative;
  display: inline-block;
}

footer hr{
  border: .01vw solid #707070;
  margin-top: 2vw;
}

footer p{
  text-align: center;
  color: #707070;
  padding: 1vw 0;
  font-size: 1vw;
  background-color: #1f1e1e;
}

.project{
  padding: .5vw 1vw;
  background-color: none;
  border: .2vw solid #9C0402;
  color: #9C0402;
  font-size: .6vw;
  letter-spacing: .2vw;
  position: relative;
  top: 6vw;
  overflow: hidden;
  transition: .5s;
  display: inline-block;
  cursor: pointer;
}

.project:hover{
  color: #d9d9d9;
}

.project::before{
  content: "";
  background-color: #9C0402;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 0%;
  z-index: -1;
  transition: .5s;
}

.selected a{
background-color: #9C0402;
color: #d9d9d9;
}

.project:hover::before{
  height: 100%;
}



.projects{
  position: relative;
  text-align: center;
  margin-top: -4vw;
}

.project-span{
  padding-right: 0.8vw;
  padding-left: 0.8vw;
  
}

.showing-project{
  text-align: center;
}

.showing-project-image{
  padding-top: 6.5vw;
  padding-bottom: 3vw;
}

.showing-project-image img{
  width: 60%;
}

.showing-project-text{
  font-size: 1.2vw;
  color: #BEBEBE;
  opacity: .8;
}

.left-skills{
  float: left;
  width:23%; 
  padding:1%; 
  margin: 1%;
  text-align: right;
}

.right-skills{
  float:left; 
  width:23%; 
  padding:1%; 
  margin: 1%;
  text-align: right;
}

.left-stars{
  float:left; 
  width:23%; 
  padding:1%; 
  margin: 1%;
  text-align: left;
}

.right-stars{
  float:left; 
  width:23%; 
  padding:1%; 
  margin: 1%;
  text-align: left;
}




.checked {
  color: #BEBEBE;
}

.unchecked{
  opacity: 0.2;
}


.left-info{
  float:left; 
  width:48%; 
  padding:1%; 
  margin:0 1%; 
}

.right-info{
  float:left; 
  width:48%; 
  padding:1%; 
  margin:0 1%; 
  text-align: center;
}

.shape {
  opacity: .2;
  position: absolute;
  transform: translate(59.2vw, 0);
}

.about img{
  width: 20vw;
  position: relative;
  top: -21vw;
  left: calc(100% - 5vw);
  right: calc(100% - 5vw);
  transform: translateX(calc(-100% + 13.9vw));
}

.gears {
  opacity: .35;
  position: absolute;
  transform: translate(-10.5vw, 0);
}

.skills img {
  width: 20vw;
  position: relative;
  top: -28vw;
  left: calc(100% - 5vw);
  right: calc(100% - 5vw);
  transform: translateX(calc(-100% + 15vw));
}

.about,
.skills,
.work{
  padding-bottom: 10vw;
}



.fa-spin-hover:hover {
  animation: fa-spin 2s infinite linear;
}

.fa-spin-hover{
  font-size: 2vw;
  color: #9C0402;
  opacity: .6;
  margin-right: 1.5vw;
  margin-top: 1vw;
}

.contact{
  font-size: 1.2vw;
  color: #aaaaaa;
  font-weight: bold;
  text-transform: none;
  opacity: .6;
  padding: 0;
  margin: 0;
  top: -.4vw;
}

.contacts{
  display: flex;
  justify-content: center;
}

.contacts-list{
  margin: 3vw;
  margin-top: 2vw;
  display: inline-block;
  transform: translateX(22%);
}

.github{
  text-decoration: underline;
}

.linkedin{
  text-decoration: underline;
}

#about-me{
  transform: translateY(-26vh);
}

#my-skills{
  transform: translateY(-20vh);
}

#my-projects{
  transform: translateY(-10vh);
}

.lgo{
  font-size: 1vw;
}







.profile-image img {
  filter: gray;
  -webkit-transition: all 1.5s ease-in-out;  
  }

  .profile-image img:hover {
  filter: none;
  -webkit-filter: grayscale(1);
  -webkit-transform: scale(1.01);
  transform: translate(7vw, -14vw);
}